.example-icon {
  padding: 0 14px;
}

mat-toolbar-row {
  height: 84px;
  display: flex;
}

.example-spacer {
  flex: 1 1 auto;
}
.example-button-row a {
  margin-right: 8px;
}
.header {
  background: linear-gradient(-90deg, #f2e88f, #035cae);
  background-image: linear-gradient(
    -90deg,
    rgb(242, 232, 143),
    rgb(3, 92, 174)
  );
  color: #646464;
  background-position-x: initial;
  background-position-y: initial;
  background-size: 100% 100%;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  background-repeat: repeat-x;
  box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.15);
  padding-left: 2%;
  padding-right: 2%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 18px;
  top: 1px;
  margin: 0 5px;
}
.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 1px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: gray;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.menu-button {
  width: 99%;
  border: none;
}

.example-form-field {
  align-self: center;
  justify-self: center;
}

.mat-radio-button {
  padding-left: 8px;
}

#user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header-button {
  height: 42px;
  width: 113.31px;
}

#theme-button {
  padding-right: 7px;
  padding-left: 7px;
}

#home {
  border: none;
  width: 84px;
  padding: 0px;
}

::ng-deep .mat-menu-content {
  width: 113.31px !important;
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}
