<mat-toolbar class="header">
  <mat-toolbar-row>
    <button mat-stroked-button id="home" (click)="goHome()">
      <img height="84px" src="../../../../assets/logo.jpg" />
    </button>

    <span class="example-spacer"></span>

    <mat-form-field class="example-full-width">
      <input matInput="search" [(ngModel)]="searchString" (keyup.enter)="search()" placeholder="Search..." />
    </mat-form-field>
    &nbsp;
    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="inTitle">
      <mat-radio-button class="example-radio-button" value="">
        In Content
      </mat-radio-button>
      <mat-radio-button class="example-radio-button" value="1">
        In Title
      </mat-radio-button>
    </mat-radio-group>

    <span class="example-spacer"></span>

    <ng-template [ngIf]="!loggedIn">
      <button mat-stroked-button class="header-button" (click)="gotoLogin()">Login</button>
    </ng-template>
    &nbsp; &nbsp;
    <ng-template [ngIf]="!loggedIn">
      <button mat-stroked-button class="header-button" (click)="gotoRegister()">Register</button>
    </ng-template>

    <ng-template [ngIf]="loggedIn">
      <button mat-stroked-button class="header-button" (click)="create()">New Article</button>
    </ng-template>
    &nbsp;
    &nbsp;
    <ng-template [ngIf]="loggedIn" matMenuContent>
      <button mat-stroked-button class="header-button" [matMenuTriggerFor]="menu">
        {{ this.user.username }} &nbsp;
        <img id="user-avatar" src="{{ this.user.avatarUrl }}" />
      </button>
      <mat-menu #menu="matMenu" class="menu-panel" xPosition="before" >
        <button mat-stroked-button id="theme-button" class="menu-button">
          <span>Light</span>
          <label class="switch">
            <input type="checkbox" [checked]="theme" (click)="toggle()" />
            <span class="slider round"></span>
          </label>
          <span>Dark</span>
        </button>
        <button *ngIf="this.user.role === 'ADMIN' " mat-stroked-button class="menu-button"
          (click)="profilsAll()">Profiles</button>
        <button *ngIf="this.user.role === 'ADMIN' " mat-stroked-button class="menu-button"
        (click)="getFlagged()">Flagged</button>
        <button mat-stroked-button class="menu-button" (click)="friends()">
          Friends
        </button>
        <button mat-stroked-button class="menu-button" (click)="edit()">
          Edit Avatar
        </button>
        <button mat-stroked-button class="menu-button" (click)="triggerLogout()">
          <mat-icon>exit_to_app</mat-icon>
          Logout
        </button>
      </mat-menu>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
