.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: linear-gradient(-90deg, #f2e88f, #035cae);
  background-image: linear-gradient(
    -90deg,
    rgb(242, 232, 143),
    rgb(3, 92, 174)
  );
  background-position-x: initial;
  background-position-y: initial;
  background-size: 100% 100%;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  background-size: 100% 100%;
  background-repeat: repeat-x;
  box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.15);
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  height: 50px;
  text-justify: center;
}

.theme {
  background: var(--background);
  color: var(--on-background);
  width: 100%;
  justify-self: center;
  align-self: center;
}
