<mat-toolbar class="footer">
  <span class="theme" > forum PPPP implements <img height="20px"
    src="../../../../assets/angular.png" /> & 
    <img height="20px"
    src="../../../../assets/nestjs.png" /> {{'{'}} (you) => njoy! {{'}'}} </span>
</mat-toolbar>
