<mat-card class="repo-card theme table">
  <div class="d-flex flex-column votebox">
    <div>
      <i class="fa fa-chevron-up" (click)="emitUpVote()"></i>
    </div>
    <div class="votecount">{{ votes }}</div>
    <div>
      <i class="fa fa-chevron-down" (click)="emitDownVote()"></i>
    </div>
  </div>

  <div class="avatar" [routerLink]="['/user', this.comment.user.id]">
    <div mat-card-avatar id="user-avatar">
      <img id="user-avatar" src="{{ this.comment.user.avatarUrl }}" />
    </div>
    <div id="name">{{ this.comment.user.username }}</div>
    <div id="role" class="theme">{{ comment.user.role }}</div>
  </div>

  <mat-card-content class="repo-title">
    <div *ngIf="!this.editMode && !this.editAdmin" class="content">
      <p>
        {{ comment.content }}
      </p>
    </div>
    <div
      *ngIf="this.editMode"
      class="content"
      (keyup.enter)="emitEdit()"
      (keyup.esc)="editModeToggler()"
    >
      <mat-form-field class="theme edit-area">
        <mat-label>Editing...</mat-label>
        <textarea matInput [(ngModel)]="this.contentToEdit"></textarea>
      </mat-form-field>
    </div>
    <div
      *ngIf="this.editAdmin"
      class="content"
      (keyup.enter)="emitEditByAdmin()"
      (keyup.esc)="editAdminToggler()"
    >
      <mat-form-field class="theme edit-area">
        <mat-label>Editing...</mat-label>
        <textarea matInput [(ngModel)]="this.contentToEdit"></textarea>
      </mat-form-field>
    </div>
  </mat-card-content>

  <mat-card-footer class="last-row">
    <mat-card-actions class="footer">
      <mat-icon class="footer-icon" *ngIf="this.editMode" (click)="emitEdit()"
        >check_circe</mat-icon
      >
      <mat-icon
        class="footer-icon"
        *ngIf="this.editMode"
        (click)="editModeToggler()"
        >cancel</mat-icon
      >
      <mat-icon
        class="footer-icon"
        *ngIf="this.editAdmin"
        (click)="emitEditByAdmin()"
        >check_circe</mat-icon
      >
      <mat-icon
        class="footer-icon"
        *ngIf="this.editAdmin"
        (click)="editAdminToggler()"
        >cancel</mat-icon
      >

      <mat-icon
        class="footer-icon"
        *ngIf="this.loggedUser?.id === this.comment.user.id"
        (click)="editModeToggler()"
        >edit</mat-icon
      >
      <mat-icon
        class="footer-icon"
        *ngIf="
          this.loggedUser?.id !== this.comment.user.id &&
          this.loggedUser?.role === 'ADMIN'
        "
        (click)="editAdminToggler()"
        >edit</mat-icon
      >
      <mat-icon
        class="footer-icon"
        *ngIf="this.loggedUser && !this.isFlagged"
        (click)="emitFlag()"
        >flag</mat-icon
      >
      <mat-icon
        class="footer-icon"
        *ngIf="this.loggedUser?.role === 'ADMIN' && this.isFlagged"
        (click)="emitRemoveFlagByAdmin()"
        >outlined_flag</mat-icon
      >
      <mat-icon
        class="footer-icon"
        *ngIf="this.loggedUser?.role === 'ADMIN'"
        (click)="emitDelete()"
        >delete</mat-icon
      >
    </mat-card-actions>
  </mat-card-footer>
</mat-card>
