mat-card {
  max-width: 400px;
  margin: 2em auto;

  text-align: center;
  background: var(--background);
  color: var(--on-background);
}

mat-form-field {
  display: block;
}

.mat-raised-button {
  background-color: #646464;
}
