<mat-card>
  <mat-card-content>

    <h3>Register</h3>

    <form [formGroup]="registerForm">

      <mat-form-field class="full-width-input">
        <mat-label>Username</mat-label>
        <input formControlName="username" matInput type="text" placeholder="Your username here">
        <mat-error *ngIf="registerForm.controls.name?.errors?.minlength">
          Username should be between 4 and 20 characters.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput type="text" placeholder="email@address.com">
        <mat-error *ngIf="registerForm.controls.email?.errors?.email">
          Please enter a valid email.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput type="password" placeholder="******">
        <mat-error *ngIf="registerForm.controls.password.errors && registerForm.controls.password.errors.minlength">
          Password should be between 4 and 20 characters, containing atleast one capital letter and a digit.
        </mat-error>
      </mat-form-field>

      <button mat-raised-button [disabled]="!registerForm.valid" (click)="register()">Register</button>
    </form>
  </mat-card-content>
</mat-card>

