.main {
  margin: auto;
  position: relative;
  padding: 25px;
  background: var(--background);
  color: var(--on-background);
  height: 350%;
}
.innerdiv {
  padding: 25px;
  margin-top: 30px;
  text-align: left;
  position: relative;
  background: var(--primary);
  color: var(--on-primary);
}

body {
  background: var(--background);
  color: var(--on-background);
}
