<mat-card>
  <mat-card-content>

    <h3>Login</h3>

    <form [formGroup]="loginForm">

      <mat-form-field class="full-width-input">
        <mat-label>Username</mat-label>
        <input formControlName="username" matInput type="text" placeholder="username">
        <mat-error *ngIf="loginForm.controls.username?.errors?.username">
          Username should be at least 2 characters long.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput type="password" placeholder="******">
        <mat-error *ngIf="loginForm.controls.password.errors && loginForm.controls.password.errors.minlength">
          Password should be at least 4 characters long.
        </mat-error>
      </mat-form-field>

      <button mat-raised-button [disabled]="!loginForm.valid" (click)="login()">Login</button>
    </form>
  </mat-card-content>
</mat-card>

