<mat-card>
  <mat-card-content>

    <h3>Edit Avatar</h3>

    <form [formGroup]="editForm" novalidate (ngSubmit)="editUserProfil()">
      <input formControlName="avatarUrl" matInput type="text" placeholder="http://anyURL.com/picture.jpg">
      <br>
      <br>
      <button mat-stroked-button type="submit">Submit</button>
    </form>

  </mat-card-content>
</mat-card>
