<mat-card class="repo-card theme">
  <mat-card-header>
    <div [routerLink]="['/user', user?.id]">
      <img id="user-avatar" src="{{ user?.avatarUrl }}" />
    </div>
    <mat-card-title>{{ user?.username }}</mat-card-title>
    <mat-card-subtitle> Role: {{ user?.role }}</mat-card-subtitle>
  </mat-card-header>

  <button
    mat-stroked-button
    *ngIf="
      !user?.isBanned &&
      this.user.id !== this.loggedUser.id &&
      this.user.role !== 'ADMIN'
    "
    mat-button
    (click)="banUser()"
  >
    Ban
  </button>
  <button
    class="fixed-button"
    mat-stroked-button
    *ngIf="
      user?.isBanned &&
      this.user.id !== this.loggedUser.id &&
      this.user.role !== 'ADMIN'
    "
    mat-button
    (click)="banUser()"
  >
    Unban
  </button>
  &nbsp;
  <button
    mat-stroked-button
    mat-button
    *ngIf="this.user.id !== this.loggedUser.id && this.user.role !== 'ADMIN'"
    (click)="deleteUser()"
  >
    Delete
  </button>
  &nbsp;
  <button
    mat-stroked-button
    mat-button
    *ngIf="!isFriends && this.user.id !== this.loggedUser.id"
    (click)="addFriend()"
  >
    Friend
  </button>
  <button mat-stroked-button mat-button id="accept" *ngIf="isFriends && isFriends.pending" (click)="acceptFriend()">
    Accept
  </button>
  <button mat-stroked-button mat-button id="reject" *ngIf="isFriends && isFriends.pending" (click)="removeFriend()">
    Reject
  </button>
  <button
    mat-stroked-button
    mat-button
    *ngIf="isFriends && !isFriends.pending"
    (click)="removeFriend()"
  >
    Unfriend
  </button>
  <mat-card-actions  *ngIf="this.loggedUser.role === 'ADMIN'">
    <mat-form-field id="input-box">
      <mat-label>Role</mat-label>
      <mat-select [(value)]="role">
        <mat-option>Pick one:</mat-option>
        <mat-option value="ADMIN">ADMIN</mat-option>
        <mat-option value="EDITOR">EDITOR</mat-option>
        <mat-option value="GUEST">GUEST</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-stroked-button (click)="changeRole()">SET</button>
  </mat-card-actions>
</mat-card>
