$avatarBorderColor: #ffffff;
$searchLineHeight: 40px;
$primary: #3f51b5;
$accent: #e74c3c;


.repo-card {
  border-radius: 5px;
  font-family: "adelle-sans", sans-serif;
  font-weight: 100;
  margin: 22px auto;
  width: 272px;
  height: 270px;
  position: relative;

  @media screen and (min-width: 480px) {
    width: 10rem;
  }
  @media screen and (min-width: 767px) {
    width: 13rem;
  }
  @media screen and (min-width: 959px) {
    width: 15rem;
  }

  mat-card-title {
    font-size: 20px;
  }

  .repo-title {
    flex: 1 1 50%;
    margin-left: 20px;
    font-weight: 100;
    grid-area: 1 / 3;
    align-self: center;
  }

  .repo-header {
    border-radius: 5px;
    padding: 10px;
  }

  .owner {
    margin-top: 11px;
    font-size: 20px;
    font-weight: bold;
  }

  .repo-desc {
    margin: 20px;
  }
}

.footer {
  border-top: 1px solid lighten(#333, 70%);
  margin: 0 auto;
  padding-bottom: 0.125rem;
  width: 90%;
}

#user-avatar {
  margin: 2%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.theme {
  background: var(--background);
  color: var(--on-background);
}

.avatar {
  padding: 10px;
  width: 80%;
  flex: 1 1 30%;
  grid-area: 1 / 2 / span 2 / span 1;
}

.votebox {
  width: 80%;
  flex: 1 1 20%;
  display: flex;
  text-align: center;
  flex-direction: column;
  font-size: 1em;
  grid-area: 1 / 1 / span 2 / span 1;
  justify-self: center;
  align-self: center;
}

.theme {
  background: var(--background);
  color: var(--on-background);
}

#input-box {
  border-radius: 5%;
  font-size: 16px;
  width: 60%;
  padding: 6px;
}

mat-card-actions {
  margin-left: 0px;
}

button {
  width: 70px;
  padding: 0px;
  justify-items: center;
}

#reject {
  margin-top: 7px;
}

#accept {
  margin-right: 5px;

}