#user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%
}

.theme {
  background: var(--background);
  color: var(--on-background);
}
mat-card {
  max-width: 260px;
  margin: 2em auto;

  text-align: center;
  background: var(--background);
  color: var(--on-background);
}

mat-form-field {
  display: block;
}

.mat-raised-button {
  background-color: #646464;
}

mat-card-header {
  justify-content: center;
}

#show-title {
  padding-right: 10px;
}