<mat-card class="example-card" *ngIf="activityClick">
  <div>
    <mat-card-subtitle>{{ this.usernameActivity }} </mat-card-subtitle>
    <mat-card-content *ngIf="this.activityUser">
      <span>Id: {{ this.activityUser.userId }}</span
      ><br />
      <span>Articles count: {{ this.activityUser.articles }}</span
      ><br />
      <span>Comments count: {{ this.activityUser.comments }}</span
      ><br />
      <span>UpvoteArticles: {{ this.activityUser.upvoteArticles }}</span
      ><br />
      <span>DownvoteArticles: {{ this.activityUser.downvoteArticles }}</span
      ><br />
      <span>DownvoteComments: {{ this.activityUser.downvoteComments }}</span
      ><br />
    </mat-card-content>
    <mat-card-content *ngIf="!this.activityUser">
      <span>{{ this.failedActivity }}</span
      ><br />
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="clear()">Cancel</button>
    </mat-card-actions>
  </div>
</mat-card>
<div>
  <mat-grid-list cols="4">
    <mat-grid-tile *ngFor="let friend of userFriends">
      <mat-card class="example-card theme">
        <mat-card-header [routerLink]="['/user', friend.user2.id]">
          <div>
            <img id="user-avatar" src="{{ friend.user2.avatarUrl }}" />
          </div>
          <mat-card-title>{{ friend.user2.username }}</mat-card-title>
          <mat-card-subtitle> Role: {{ friend.user2.role }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button (click)="selectUserHendler(friend.user2.id)">
            Articles
          </button>
          <button mat-button (click)="cancelFriends(friend.user2.id)">
            Remove
          </button>
          <button
            mat-button
            (click)="activity(friend.user2.id, friend.user2.username)"
          >
            Activity
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
