<mat-card class="repo-card theme table" *ngIf="this.createMode">
  <div class="d-flex flex-column votebox">
    <div>
      <i class="fa fa-chevron-up"></i>
    </div>
    <div class="votecount">0</div>
    <div>
      <i class="fa fa-chevron-down"></i>
    </div>
  </div>
  <div class="avatar">
    <div mat-card-avatar id="user-avatar">
      <img id="user-avatar" src="{{ this.loggedUser.avatarUrl }}" />
    </div>

    <div id="name">{{ this.loggedUser.username }}</div>
    <div id="role" class="theme">{{ this.loggedUser.role }}</div>
  </div>
  <mat-card-content
    class="repo-title"
    (keydown.enter)="postArticle()"
    (keydown.esc)="createModeToggler()"
  >
    <mat-card-subtitle class="owner">
      <mat-form-field class="theme edit-area">
        <input
          matInput
          placeholder="{{ this.titlePlaceholder }}"
          [(ngModel)]="this.newArticleTitle"
        />
      </mat-form-field>
    </mat-card-subtitle>
    <div
      class="content"
      (keydown.enter)="postArticle()"
      (keydown.esc)="createModeToggler()"
    >
      <mat-form-field class="theme edit-area">
        <textarea
          matInput
          placeholder="{{ this.contentPlaceholder }}"
          [(ngModel)]="this.newArticleContent"
        ></textarea>
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-footer class="last-row">
    <mat-card-actions class="footer">
      <mat-icon
        class="footer-icon"
        *ngIf="this.createMode"
        (click)="postArticle()"
        >check_circe</mat-icon
      >
      <mat-icon
        class="footer-icon"
        *ngIf="this.createMode"
        (click)="createModeToggler()"
        >cancel</mat-icon
      >
    </mat-card-actions>
  </mat-card-footer>
</mat-card>

<div *ngFor="let article of articles">
  <app-single-article
    [loggedUser]="this.loggedUser"
    [article]="this.article"
    (upVote)="onUpVote($event)"
    (downVote)="onDownVote($event)"
    (flag)="onFlag($event)"
    (toggleFlagByAdmin)="onToggleFlagByAdmin($event)"
    (delete)="onDelete($event)"
    (lock)="onLock($event)"
    (editContent)="onEditContent($event)"
    (editContentByAdmin)="onEditContentByAdmin($event)"
  ></app-single-article>
</div>

<mat-paginator
  class="theme paginator"
  [length]="this.allArticlesCount"
  [pageSize]="10"
  (page)="changePage($event)"
>
</mat-paginator>
