<h1 class="h1">ERROR!</h1>
<br />
<h1 class="h1">{{error?.message}}</h1>
<br />
<h1 class="h1">{{error?.errorMsg}}</h1>
<br />
<h1 class="h1">{{error?.errorCode}}</h1>
<br /><br />
<div class="home-button">
  <button mat-stroked-button routerLink="/">Home</button>
</div>