<div *ngIf="singleArticle">
  <mat-card class="repo-card theme table">
    <div class="d-flex flex-column votebox">
      <div>
        <i class="fa fa-chevron-up" (click)="onUpVote()"></i>
      </div>
      <div class="votecount">
        {{ votes }}
      </div>
      <div>
        <i class="fa fa-chevron-down" (click)="onDownVote()"></i>
      </div>
    </div>

    <div class="avatar" [routerLink]="['/user', this.singleArticle.user.id]">
      <div mat-card-avatar id="user-avatar">
        <img id="user-avatar" src="{{ this.singleArticle.user.avatarUrl }}" />
      </div>
      <div id="name">{{ this.singleArticle.user.username }}</div>
      <div id="role" class="theme">{{ this.singleArticle.user.role }}</div>
    </div>

    <mat-card-content class="repo-title">
      <mat-card-subtitle class="owner">{{
        this.singleArticle.title
      }}</mat-card-subtitle>
      <div *ngIf="!this.editMode && !this.editAdmin" class="content">
        <p>
          {{ this.singleArticle.content }}
        </p>
      </div>
      <div
        *ngIf="this.editMode"
        class="content"
        (keydown.enter)="onEditContent()"
        (keydown.esc)="editModeToggler()"
      >
        <mat-form-field class="theme edit-area">
          <mat-label>Editing...</mat-label>
          <textarea matInput [(ngModel)]="this.contentToEdit"></textarea>
        </mat-form-field>
      </div>
      <div
        *ngIf="this.editAdmin"
        class="content"
        (keydown.enter)="onEditContentByAdmin()"
        (keydown.esc)="editAdminToggler()"
      >
        <mat-form-field class="theme edit-area">
          <mat-label>Editing...</mat-label>
          <textarea matInput [(ngModel)]="this.contentToEdit"></textarea>
        </mat-form-field>
      </div>
    </mat-card-content>

    <mat-card-footer class="last-row">
      <mat-card-actions class="footer">
        <mat-icon
          class="footer-icon"
          *ngIf="this.editMode"
          (click)="onEditContent()"
          >check_circe</mat-icon
        >
        <mat-icon
          class="footer-icon"
          *ngIf="this.editMode"
          (click)="editModeToggler()"
          >cancel</mat-icon
        >
        <mat-icon
          class="footer-icon"
          *ngIf="this.editAdmin"
          (click)="onEditContentByAdmin()"
          >check_circe</mat-icon
        >
        <mat-icon
          class="footer-icon"
          *ngIf="this.editAdmin"
          (click)="editAdminToggler()"
          >cancel</mat-icon
        >
        <mat-icon
          class="footer-icon"
          *ngIf="this.loggedUser && !this.singleArticle.isLocked"
          (click)="commentModeToggler()"
          >comment</mat-icon
        >
        <mat-icon
          class="footer-icon"
          *ngIf="
            this.loggedUser?.id === this.singleArticle.user.id &&
            !this.singleArticle.isLocked
          "
          (click)="editModeToggler()"
          >edit</mat-icon
        >
        <mat-icon
          class="footer-icon"
          *ngIf="
            this.loggedUser?.id !== this.singleArticle.user.id &&
            this.loggedUser?.role === 'ADMIN' &&
            !this.singleArticle.isLocked
          "
          (click)="editAdminToggler()"
          >edit</mat-icon
        >
        <mat-icon
          class="footer-icon"
          *ngIf="
            this.loggedUser &&
            !this.singleArticle.isLocked &&
            this.loggedUser?.role !== 'ADMIN'
          "
          (click)="onFlag()"
          >flag</mat-icon
        >
        <mat-icon
          class="footer-icon"
          *ngIf="this.loggedUser?.role === 'ADMIN' && !this.isFlagged"
          (click)="onToggleFlagByAdmin()"
          >flag</mat-icon
        >
        <mat-icon
          class="footer-icon"
          *ngIf="this.loggedUser?.role === 'ADMIN' && this.isFlagged"
          (click)="onToggleFlagByAdmin()"
          >outlined_flag</mat-icon
        >
        <mat-icon
          class="footer-icon"
          *ngIf="
            this.loggedUser?.role === 'ADMIN' && !this.singleArticle.isLocked
          "
          (click)="onLock()"
          >lock</mat-icon
        >
        <mat-icon
          class="footer-icon"
          *ngIf="
            this.loggedUser?.role === 'ADMIN' && this.singleArticle.isLocked
          "
          (click)="onLock()"
          >lock_open</mat-icon
        >
        <mat-icon
          class="footer-icon"
          *ngIf="this.loggedUser?.role === 'ADMIN'"
          (click)="onDelete()"
          >delete</mat-icon
        >
      </mat-card-actions>
    </mat-card-footer>
  </mat-card>

  <mat-card class="new-comment theme table" *ngIf="this.commentMode">
    <div class="d-flex flex-column votebox">
      <div>
        <i class="fa fa-chevron-up"></i>
      </div>
      <div class="votecount">0</div>
      <div>
        <i class="fa fa-chevron-down"></i>
      </div>
    </div>

    <div class="avatar" >
      <div mat-card-avatar id="user-avatar">
        <img id="user-avatar" src="{{ this.loggedUser.avatarUrl }}" />
      </div>
      <div id="name">{{ this.loggedUser.username }}</div>
      <div id="role" class="theme">{{ this.loggedUser.role }}</div>
    </div>

    <mat-card-content class="repo-title">
      <div
        class="content"
        (keyup.enter)="postComment()"
        (keyup.esc)="commentModeToggler()"
      >
        <mat-form-field class="theme edit-area">
          <mat-label>New Comment...</mat-label>
          <textarea matInput [(ngModel)]="this.newComment"></textarea>
        </mat-form-field>
      </div>
    </mat-card-content>

    <mat-card-footer class="last-row">
      <mat-card-actions class="footer">
        <mat-icon class="footer-icon" (click)="postComment()"
          >check_circe</mat-icon
        >
        <mat-icon class="footer-icon" (click)="commentModeToggler()"
          >cancel</mat-icon
        >
      </mat-card-actions>
    </mat-card-footer>
  </mat-card>

  <div *ngFor="let comment of showComments">
    <app-single-comment
      [loggedUser]="this.loggedUser"
      [comment]="comment"
      (upVote)="onCommentUpVote($event)"
      (downVote)="onCommentDownVote($event)"
      (flag)="onCommentFlag($event)"
      (removeFlagByAdmin)="onCommentRemoveFlagByAdmin($event)"
      (delete)="onCommentDelete($event)"
      (editContent)="onCommentEditContent($event)"
      (editContentByAdmin)="onCommentEditContentByAdmin($event)"
    ></app-single-comment>
  </div>
</div>
<br />
<mat-paginator
  class="theme paginator"
  [length]="commentsCount"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="pageEvent($event)"
>
</mat-paginator>
