$avatarBorderColor: #ffffff;
$searchLineHeight: 40px;
$primary: #3f51b5;
$accent: #e74c3c;

.main-container {
  box-sizing: border-box;
}

.full-width {
  width: 90%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-inline-start: 0px;

  li {
    list-style: none;
  }
}

.table {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 7% 18% 75%;
}

.last-row {
  grid-area: 2 / 3 / span 1 / span 1;
  align-self: center;
}

.repo-card {
  border-radius: 5px;
  // box-shadow: hsla(0, 0, 0, .2) 0 4px 2px -2px;
  font-family: "adelle-sans", sans-serif;
  font-weight: 100;
  margin: 22px auto;
  margin-bottom: unset;
  width: 20rem;

  @media screen and (min-width: 480px) {
    width: 36rem;
  }
  @media screen and (min-width: 767px) {
    width: 40rem;
  }
  @media screen and (min-width: 959px) {
    width: 50rem;
  }

  mat-card-title {
    font-size: 20px;
  }
  .repo-title {
    flex: 1 1 50%;
    margin-left: 20px;
    font-weight: 100;
    grid-area: 1 / 3;
  }

  .repo-header {
    border-radius: 5px;
    padding: 10px;
  }
  .owner {
    margin-top: 11px;
    font-size: 20px;
    font-weight: bold;
  }

  .repo-desc {
    margin: 20px;
  }
}

.footer {
  border-top: 1px solid lighten(#333, 70%);
  margin: 0 auto;
  padding-bottom: 0.125rem;
  width: 90%;
}

#user-avatar {
  margin: 5%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.theme {
  background: var(--background);
  color: var(--on-background);
}

.avatar {
  width: 85%;
  flex: 1 1 30%;
  grid-area: 1 / 2 / span 2 / span 1;
  justify-self: center;
}

.votebox {
  width: 80%;
  flex: 1 1 20%;
  display: flex;
  text-align: center;
  flex-direction: column;
  font-size: 1em;
  grid-area: 1 / 1 / span 2 / span 1;
  justify-self: center;
  align-self: center;
}

.votesection {
  margin: 0px;
  background-color: #ffffff;
}
.fa-chevron-up,
.fa-chevron-down {
  cursor: pointer;
  border-radius: 2px solid;
  font-size: large;
}
.fa-chevron-up:hover {
  color: rgb(0, 255, 0);
}
.fa-chevron-down:hover {
  color: red;
}

.votecount {
  font-weight: bold;
  font-size: large;
}

#name,
#role {
  margin: 5%;
  text-align: center;
}

#role {
  font-size: 10px;
}

.paginator {
  margin: 22px auto;
  width: 20rem;

  @media screen and (min-width: 480px) {
    width: 40rem;
  }
  @media screen and (min-width: 767px) {
    width: 44rem;
  }
  @media screen and (min-width: 959px) {
    width: 55rem;
  }
}

.edit-area {
  width: 100%;
  height: auto;
}

.new-comment {
  border-radius: 5px;
  // box-shadow: hsla(0, 0, 0, .2) 0 4px 2px -2px;
  font-family: "adelle-sans", sans-serif;
  font-weight: 100;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  width: 20rem;

  @media screen and (min-width: 480px) {
    width: 32rem;
  }
  @media screen and (min-width: 767px) {
    width: 34rem;
  }
  @media screen and (min-width: 959px) {
    width: 44rem;
  }

  mat-card-title {
    font-size: 20px;
  }

  .repo-title {
    flex: 1 1 50%;
    margin-left: 20px;
    font-weight: 100;
    grid-area: 1 / 3;
    align-self: center;
  }

  .repo-header {
    border-radius: 5px;
    padding: 10px;
  }

  .owner {
    margin-top: 11px;
    font-size: 18px;
    font-weight: bold;
  }

  .repo-desc {
    margin: 20px;
  }
}

.footer-icon {
  margin: 10px;
  cursor: pointer;
}
