<div>
  <mat-grid-list cols="4" class="grid-container">
    <mat-grid-tile *ngFor="let user of users">
      <app-user
        [user]="user"
        [loggedUser]="this.loggedUser"
        (userDeleted)="onUserDeleted($event)"
        (userBanned)="onUserBanned($event)"
        (userRole)="onRole($event)"
      ></app-user>
    </mat-grid-tile>
  </mat-grid-list>
</div>
