#user-avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%
}

.theme {
  background: var(--background);
  color: var(--on-background);
}

.grid-container {
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
}